# Игнорировать всё
*

# Не игнорировать каталоги, иначе Git не сможет рекурсивно обрабатывать вложенные файлы
!*/

# Разрешить файлы с нужными расширениями
!*.nim
!*.nimble
!*.md
!*.jpg
!*.jpeg
!*.png
!*.css
!*.json
!*.7z

# Разрешить файл LICENSE в корневом каталоге
!/LICENSE
